<h1> Here is your info of your card:</h1>
<%# <% @cart.line_times.each do |item| %> 

<table class="responstable">
  <tr>
    <th><span>name</span></th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  
  <% @cart.line_items.each do |line_item| %>
  <tr>
    <td><%=line_item.food_item.name %></td>
    <td><%=line_item.quantity%></td>
    <td>
      <%= link_to "delete", line_item, method: :delete %>
    </td>
  <% end %>  
  </tr>
</table>